@media (max-width: 1200px) {
  .main-header-wrap {
    align-items: center;
  }

  .main-header__nav-wrap{
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
                "logo tools"
                 "nav nav";
  }

  //.main-header__user-tools,
  //.main-navigation{
  //  justify-content: space-between;
  //}

  .logo {
    grid-area: logo;
    width: 80%;
  }

  .main-navigation{
    grid-area: nav;
    justify-content: center;
  }

  .main-header__user-tools {
    grid-area: tools;
    justify-content: flex-end;
  }
}

@media (max-width: 1000px){

  .section-categories-wrap{
    padding: 50px;
    grid-template-rows:  1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 770px) {
  .main-header__nav-wrap {
    display: flex;
    //работает гап
    grid-gap: 0;
    width: 100%;
    justify-content: space-between;
  }

  .main-header__button-basket{
    display: flex;
    margin-right: 15px;
  }

  .mobile-menu{
    display: block;
  }

  .main-navigation,
  .main-header__button-login,
  .main-header__button-liked{
    display: none;
  }
}

@media (max-width: 650px){
  .section-categories-wrap{
    padding: 50px;
    display: flex;
    flex-direction: column;
    //почему тут работает gap?
    grid-gap: 0;
    width: 100%;
  }

  .section-categories__category{
    margin-bottom: 15px;
  }

  .section-categories-wrap figure:last-child{
    margin: 0;
  }
}

@media (max-width: 580px){
  .main-header-wrap{
    padding: 50px 15px;

    .main-header__main-title{
      font-size: 48px;
    }
  }

  .section-categories-wrap{
    padding: 60px 15px;
  }

  .section-featured-wrap {
    padding: 60px 15px;
  }

  .product img{
    margin: 0;
  }

  .product__description {
    border-radius: 9px 9px 0 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #dddddd;
    padding:10px;
    width: 100%;
    opacity: 0;
    box-sizing: border-box;
  }

  .product:hover .product__description {
    opacity: 1;
  }

  .product-category {
    font-size: 20px;
  }

  .section-latest-wrap {
    padding: 60px 15px;
  }

  .section-blog-wrap{
    padding: 60px 15px;
  }
}