@media (max-width: 1200px) {
  .main-header-wrap {
    align-items: center;
  }

  .main-header__nav-wrap{
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
                "logo tools"
                 "nav nav";
  }

  .logo {
    grid-area: logo;
    width: 80%;
  }

  .main-navigation__wrap{
    grid-area: nav;
    //justify-content: center;
  }

  .main-navigation{
    justify-content: center;
  }

  .main-header__user-tools {
    grid-area: tools;
    justify-content: flex-end;
  }
}

@media (max-width: 1000px){

  .section-categories-wrap{
    padding: 50px;
    grid-template-rows:  1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 770px) {
  .main-header__nav-wrap{
    grid-template-columns: auto 1fr auto auto ;
    grid-template-rows: auto;
    grid-template-areas:
                "logo . tools nav";
  }

  .main-navigation__wrap{
    min-width: auto;
  }

  .main-navigation{
    position: absolute;
    top: 55px;

    display: block;
    text-align: center;
    padding: 15px;

    li{
      margin-bottom: 16px;

      a{
        color: var(--text-color2);
      }

    }
    li:last-child{
      margin: 0;
    }
  }

  //.main-header__user-tools{
  //  display: grid;
  //  grid-template-rows:  1fr;
  //  grid-template-columns: 1fr 1fr;
  //  grid-template-areas:
  //              "bask nav";
  //}

  .main-header__button-basket{
    //grid-area: bask;
    display: flex;
    margin-right: 15px;
  }

  .mobile-menu__label{
    display: block;
  }

  .mobile-menu-wrap,
  .main-header__button-login,
  .main-header__button-liked{
    display: none;
  }

  #menu:checked ~ .mobile-menu-wrap {
    display: block;
  }
}

@media (max-width: 650px){
  .section-categories-wrap{
    padding: 50px;
    display: flex;
    flex-direction: column;
    //почему тут работает gap?
    grid-gap: 0;
    width: 100%;
  }

  .section-categories__category{
    margin-bottom: 15px;
  }

  .section-categories-wrap figure:last-child{
    margin: 0;
  }
}

@media (max-width: 580px){
  .main-header-wrap{
    padding: 50px 15px;

    .main-header__main-title{
      font-size: 48px;
    }
  }

  .section-categories-wrap{
    padding: 60px 15px;
  }

  .section-featured-wrap {
    padding: 60px 15px;
  }

  .product img{
    margin: 0;
  }

  .product__description {
    border-radius: 9px 9px 0 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #dddddd;
    padding:10px;
    width: 100%;
    opacity: 0;
    box-sizing: border-box;
  }

  .product:hover .product__description {
    opacity: 1;
  }

  .product-category {
    font-size: 20px;
  }

  .section-latest-wrap {
    padding: 60px 15px;
  }

  .section-blog-wrap{
    padding: 60px 15px;
  }
}