
.section-latest{
  display: flex;
  justify-content: center;
}

.section-latest-wrap {
  max-width: 1440px;
  padding: 60px 90px;
  box-sizing: border-box;
  width: 100%;
}

.section-latest__title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 60px;
}

.section-latest__products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(241px,1fr));
  grid-gap: 20px;
}